/*icon
----sidebar----
<i class="fa-solid fa-house"></i>
<i class="fa-solid fa-chart-simple"></i>
<i class="fa-solid fa-signal"></i>
<i class="fa-solid fa-gear"></i>
-----main----
<i class="fa-solid fa-trash"></i>
<i class="fa-solid fa-pen"></i>
----nav----
<i class="fa-solid fa-list"></i>
<i class="fa-solid fa-bell"></i>
<i class="fa-solid fa-ellipsis-vertical"></i>
<i class="fa-solid fa-circle-question"></i>*/


.debug {
    border: 1px solid red;
}

.wrapper {
    margin-top: 56px;
    overflow: hidden;
    height: calc(100vh - 56px);
    width: 100%;

}

#sidebar {
    width: 60px;
    background-color: #051d33;
    background-image: url(../img/sidebar-bg.png);
    color: white;
    padding: 15px;

}

main {
    overflow-y: auto;
    width:calc(100% - 130px);
  
}

.main-nav{
    width:100%
}

.main-nav,
.gi-btn-student {
    background-color: var(--bs-blue);
}

.gi-btn-student {
    border: 1px solid white;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    color: white;
    transition: all .5s;

}

.gi-btn-student:hover {
    background-color: white;
    color: var(--bs-blue);
}

.gi-bc-badge{
    background-color: rgba(0, 0, 0, 0.2);
}

.gi-large, .gi-md-large{
    display: none;
}

.gi-log-clas{
    width: 20px;
    height: 20px;
}

.btn.btn-outline-secondary{
    font-size: 12px;
}

#offcanvasRight{
    width: 100%;
}

@media screen and (min-width:768px) {
    .gi-md-large{
        display: inline;
    }

    #offcanvasRight{
        width: 75%;
    }

    
    
}

@media screen and (min-width:1200px) {
    .gi-small{
        display: none;
    }
    .gi-large{
        display: inline;
    }    
    #sidebar{
        width: 130px;
    }

    #offcanvasRight{
        width: 45%;
    }
}